./.ipynb_checkpoints/
./.ipynb_checkpoints/*
./.vscode
./.vscode/*
.vscode/launch.json
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/settings.json
*.hdf5
*.txt
*.log
Hummingbird_Run/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
